.columnMain{
    /* background:red; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;


}
.col-A{
    flex:1;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    max-width: 33%;


}
.col-B{
    flex:1;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    /* max-width: 33%; */



}
.col-C{
    flex:1;
    /* max-width: 33% */
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;



}


@media (max-width : 800px){

    .columnMain{
        flex-direction: column;
    }

    .col-A{
       
        max-width: 100%;
    
    
    }
}